body{
    background-image: url(https://cdn.pixabay.com/photo/2017/01/12/06/02/blue-1973843_1280.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*view height 100% */
    flex-direction: column; /* 세로정렬 */
}

.button{
    margin:10px 3px;
}

.weather-box{
    border: 3px solid rgba(200, 227, 255, 0.879);
    padding: 50px;
    border-radius: 30px;
    background-color: rgba(200, 227, 255, 0.879);
    color: rgb(43, 43, 43);
}
